.git
.gitignore
.DS_Store
.omc

**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor

frontend/dist
backend/database/database.sqlite
backend/public/storage
backend/bootstrap/cache/*
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

*.log
